<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
    <div layout:fragment="content">
        <h2>Products Information</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th> <th>Name</th> <th>Quantity</th> <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p:${products}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td th:text="${p.price}"></td>
                </tr>
            </tbody>

        </table>
    </div>


</body>
</html>